html{
    scroll-behavior: smooth;
}


/* .box{
    display: flex;
   
    width:40%;
    height: fit-content;
    background-color:grey;
    padding: 2px;
    margin: 10px auto;
  
} */

/* .rectangulo{
    width: 80%;
    background-color:lightgray;
    height:fit-content;
    margin: 10px auto;
    display: flex;
   
  
}



.div-cont-dest p {
   text-align: center;
   padding:20px;
   
    
}
.rigth{
    float: right;
    width: 40%;
  
    
  
}
.left{
    width: 60%;
    float: left;
    background-color: lightgray; */

.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  
  .photo {
    
    height: 300px;
    flex: 1;
    margin-left: auto;
  }
.text{
    height:0px;
    margin: 10px;
    padding:0;
}
  .dest-title{
    font-family:Rubik Distressed ;
    font-size:xx-large;
    
  }
  @media screen and (max-width:400px) {
.fotoArg{
    width:50%;
}
.main {
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left:5%;
  }
  
  .photo {
    width:100%;
    height:auto
  }
.text{
    height:0px;
    margin: 10px;
    padding:0;
}
  .dest-title{
    font-family:Rubik Distressed ;
    font-size:large;
    margin:5px 0px;
    padding-left: 10px;
  }
.text-dest{
    padding:0% 15%;
}
  }
  
  .limpiar{
    height:100px;
    display: flex;
    justify-content: space-evenly;
  }