.imagesHomePage {
    display:flex;
    flex-flow: column wrap;
    margin:10px;
    align-items: center;
    padding:5px;
     box-shadow: 4px 5px 5px #888888;
}
.fotoArg{
    width:400px;
    height:500px;
    object-fit: cover;
    flex-flow: row wrap;
}


.cont-home{

    display:flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: space-around;
   
}


@media only screen and (max-width: 600px) {
    p {
      font-size: 14px;
    }
    .imagesHomePage {
        display:flex;
        flex-flow: column wrap;
        margin:10px;
        align-items: center;
        padding:5px;
        /* border: .5px solid grey; */
        box-shadow: 4px 5px 5px #888888;
    }
    .fotoArg{
        width:150px;
        height:200px;
        object-fit: cover;
        flex-flow: row wrap;
    }
    
    
    .cont-home{
     
        display:flex;
        box-sizing: border-box;
        flex-flow: row wrap;
        justify-content: space-around;
       
    }
    
    
    
}